@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Urbanist:wght@100&display=swap');


* {
    font-family: 'Urbanist', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    color: antiquewhite;
}

:root {
    --gray: rgb(177, 177, 177);
}

body {
    background-color: black;
}

.topnav {
    float: right;
}

.topnav a {
    font-size: 25px;
    text-decoration: none;
    display: none;
}

.topnav a.icon {
    margin: 30px;
    float: right;
    display: block;
    width: auto;
}

.dot {
    font-family: 'Monoton', sans-serif;
    background-color: aliceblue;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 1px;
    float: left;
}

.topnav.responsive {
    display: inline-block;
    width: 300px;
    position: relative;
    z-index: +2;
    background-color: rgba(0, 0, 0, 0.727);
}

.topnav.responsive a {
    display: block;
    text-align: left;
    text-decoration: none;
    padding: 20px;
}

.topnav.responsive .icon {
    position: absolute;
    right: 0px;
    margin: 10px;

}

#logo h1 {
    position: absolute;
    font-size: 25px;
    margin: 20px;
    font-family: 'Monoton', sans-serif;

}

.topnav.responsive .icon .dot:nth-child(1), .topnav.responsive .icon .dot:nth-child(2),.topnav.responsive .icon .dot:nth-child(3) {
    margin-left: 5px;
    transition: all 1.5s;
    background-color: var(--gray);
}

.topnav.responsive a:hover {
    font-family: 'Monoton', sans-serif;
    color: var(--gray);
}

.loading-box {
    margin-top: 350px;
    width: 10%;
    position: absolute;
    margin-left: 45%;
    text-align: center;
    font-size: 25px;
    animation: remove 18s;
    opacity: 0;
}

@keyframes remove {
    0%{
        opacity: 0;
    }
    1%{
        opacity: 1;
    }
    15%{
        opacity: 1;
    }

16%{
    opacity: 0;
}
}

.top-photos {
    text-align: center;
    margin-top: 135px;
    position: absolute;
    width: 80%;
    margin-left: 10%;
    z-index: 1;
}

.top-photos img {
    height: 480px;
}

.top-photos img:nth-child(1), .top-photos img:nth-child(2), .top-photos img:nth-child(3) {
    opacity: 0;
    animation: reveal 6.5s;
    animation-delay: 1s;
}
.top-photos img:nth-child(2) {
    animation-delay: 2s;
}
.top-photos img:nth-child(3) {
    animation-delay: 3s;
}

@keyframes reveal {
    0%{
        opacity: 0;
    }
    30%{
        opacity: 0;
        transform: rotate3d(-285, 85, 30, 90deg);
    }
    45%{
        opacity: 1;
        transform: none;
    }

90%{
    opacity: 1;
    transform: none;
}
}
.title{
    margin-top: 300px;
    position: absolute;
    width: 80%;
    margin-left: 10%;

}

.title h1{
    font-size: 90px;
    font-family: 'Monoton', cursive;
    animation: show 15s;
    animation-delay: 0s;
    opacity: 1;
}

.subtitle{
    font-size: 25px;
    animation: show 17s;
    animation-delay: 0s;
    opacity: 1;
}

@keyframes show {
    0%{
        opacity: 0;
    }

   69%{
        opacity: 0;
        transform: rotate3d(-285, 85, 30, 90deg);

    }
    70%{
        opacity: 1;
        transform: rotate3d(-285, 85, 30, 90deg);
    }
    
    80%{
        opacity: 1;
        transform: none;
    }
}